<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Sentiment Analysis Using TextBlob</title>
        <meta name="viewport" content="width-device-width, initial-scale=1.0, maximum-scaled=1.0, user-scalable=no">
        <link href="../static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <div style="background-color: mediumturquoise;padding:120px"></div>
        <div class="wrapper row1">
            <header id="header" class="hoc clear">
                <h2><a href="https://rohitgang.github.io">Rohit Gangurde</a></h2>
                <p>A Flask Sentiment Analysis App</p>
            </header>
        </div>

        <div class="wrapper bgded overlay light" style="...">
            <div id="'textinput" class="hoc clear">
                <article><p> </p></article>
            </div>
            <div id="textinput" class="hoc clear">
                <article>
                    <h3 class="heading">Introduction</h3>
                        <p>Welcome. This website is created using html, css and flask. This website is created as part
                        of an individual project. I am tapping into Sentiment Analysis using the textblob library. Use
                        the buttons to either see a sentiment analysis on your string of text, or tweets from twitter.</p>
                        <footer>
                            <ul class="nospace inline pushright">
                                <li><a class="btn" href="/sentiment.html">Your string</a></li>
                                <li><a class="btn inverse" href="#">Let's go to Twitter</a></li>
                            </ul>
                    </footer>
                    <div id="textinput" class="hoc clear">
                        <article><p> </p></article>
                    </div>
                </article>
            </div>
        </div>
        <div style="background-color: mediumturquoise;padding:120px"></div>
    </body>
</html>