<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>Analyze your String of Text</title>
         <meta name="viewport" content="width-device-width, initial-scale=1.0, maximum-scaled=1.0, user-scalable=no">
        <link href="../static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body id="top">
<!--        <div style="background-color: #74D3D3;padding:120px"></div>-->
        <div id="top"></div>
        <div class="wrapper row1">
            <header id="header" class="hoc clear">
                <h2><a>Analyse your text</a></h2>
            </header>
        </div>
        <div classes="wrapper bgded overlay light" style="...">
            <p>Go ahead and enter your own text in the input box and hit the button.</p>
            <form method="POST">
                <input name="text" size="30" style="color:black">
                <button type="submit" value="Submit" style="color:black"><b>Analyse</b></button>
                <button type="submit" value="Submit" style="color:black" formaction="/subject.html"><b>Graph</b></button>
            </form>
        </div>
    </body>
</html>